#base {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#pwgate {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 55%;
}

#pwgate_input {
  width: 40vw;
  font-size: 160%;
  text-align: center;
}

#pwgate_enter {
  margin-top: 15px;
}

#createname {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 55%;
}

#createname_guide {
  margin-bottom: 15px;
}

#createname_input {
  width: 40vw;
  font-size: 160%;
  text-align: center;
}

#createname_enter {
  margin-top: 15px;
}

#chat {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

#chat_log {
  flex: 1 1 auto;
  overflow-y: scroll;
  padding-top: 25px;
  box-sizing: border-box;
}

.chat_log_message_in {
  width: 100%;
  padding: 5px 30px;
  display: flex;
  box-sizing: border-box;
}

.chat_log_message_out {
  width: 100%;
  padding: 5px 30px;
  box-sizing: border-box;
}

.chat_log_message_meta {
  margin-right: 20px;
  width: 100px;
}

.chat_log_message_meta_user {
  margin-top: 1px;
  font-size: 40%;
  word-wrap: break-word;
}

.chat_log_message_content_in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat_log_message_content_out {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat_log_message_content_line {
  max-width: 60vw;
  padding: 5px 15px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 1);
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 50%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.chat_log_userupdate {
  width: 100%;
  padding: 10px 30px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.chat_log_userupdate_text {
  font-size: 50%;
}

#chat_shelf {
  flex: 0 0 auto;
  width: 100vw;
  height: 30px;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  overflow-y: hidden;
}

.chat_shelf_sub {
  display: flex;
}

.chat_shelf_sub p {
  margin-right: 20px;
}

#chat_shelf p {
  font-size: 60%;
}

#chat_input {
  flex: 0 0 auto;
  width: 100vw;
  display: flex;
}

#chat_input_text {
  flex: 1 1 auto;
  padding: 15px;
  resize: none;
  font-size: 80%;
}

#chat_input_thumb {
  position: relative;
  flex: 0 0 auto;
  width: 150px;
  background: rgba(0, 0, 0, 0.4);
}

#chat_input_thumb_send {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #00000000;
  border: 0;
}
