/* General style */

@font-face {
  font-family: "Eurostile";
  src: url("/assets/Eurostile.ttf");
}

* {
  color: #ffffff;
  font-family: "Eurostile";
  font-size: 115%;
  border: 0;
  outline: none;
  scrollbar-color: rgba(255, 255, 255, 0.05) rgba(0, 0, 0, 0.1);
}

body, body * {
  padding: 0;
  margin: 0;
}

body {
  background: #121212;
}

input {
  background: rgba(0, 0, 0, 0.6);
}

textarea {
  background: rgba(0, 0, 0, 0.6);
}

button {
  padding: 5px 15px;
  font-size: 70%;
  color: rgba(255, 255, 255, 0.6);
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

button:hover {
  color: rgba(255, 255, 255, 1);
}

button:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
}
